html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: #5F5F5F;
}
/* Modal */
newPostTop {
  background: #fff;
  padding: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1877E6;
}

.pointer {
  cursor: pointer;
}

.newPostInputContainer ,inputField{
  display: flex;
  height: 110px;
  margin: 10px;
}

.newPostInput {
  flex: 1;
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 18px;
  resize: none;
  border-width: 0;
}

.darkBtn {
  background: #4a90e2;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px 15px;
  border-style: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #4a90e2;
  text-decoration: none;
}

.submitPostBtn {
  background: #4a90e2;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px 15px;
  border-style: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #4a90e2;
  margin: 0px auto;
  width: 150px;
  text-align: center;
  display: block;
  position:relative;
  float:right;
}

.submitDuckBtn:disabled {
  background: #C6C6C6;
  border: 1px solid #C6C6C6;
}

.PostsList {
  width: 100%;
}

.UpVoting {
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #CAC6C6;
}

.DownVoting {
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #CAC6C6;
}

.Voting {
  width: 40px;
  display: flex;
  padding-top: 2px;
}



/*Posts component */
.Posts {
  width: 100%;
}

/* Post component */
.Post {
  padding: 10px;
}

.Post-Info {
  display: flex;
  font-size: .85em;
  color: #8A8585;
}

.Title,
.Delete,
.UpVoting,
.DownVoting {
  cursor: pointer;
}

.Comments,
.Points,
.Voting,
.Edit,
.Delete {
  margin: 0 6px;
  padding: 0;
}

.Voting {
  width: 40px;
  display: flex;
  padding-top: 2px;
}



.Author {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #D2BCBC;
}

.Categories-List {
  margin: 0;
  padding: 0;
}

.Categories-List li {
  color: #D2BCBC;
  padding: 10px;
  border-bottom: 1px solid;
}

.Category {
  cursor: pointer;
}